@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'watch-anywhere';
@use 'download';
@use 'devices';
@use 'faq';
@use 'footer';
@use 'header';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTxtMain;
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$corTxtSecond;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

body{
    background-color: variaveis.$corFundo;
}

.text--big{
    @include text(18px);
}

.text {
    @include text;
}

.text--small{
    @include text(12px);
}

.link--text{
    @include text(18px);
    color: variaveis.$corTxtSecond;
    text-decoration: underline;
}

.title--big{
    @include title(44px);
}

.title{
    @include title;
}

.title--small{
    @include title(28px);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corTxtSecond;
    background-color: #6421ff;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 15px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corFundo;

    &:hover{
        background-color: lighten(#6421ff, 3%);
    }

    &--secondary{
        background-color: #0063e5;

        &:hover{
            background-color: lighten(#0063e5, 3%);
        }
    }

    &--dark{
        background-color: rgba($color: variaveis.$corFundo, $alpha: .8);
        border: 1px solid variaveis.$corTxtSecond;

        &:hover{
            background-color: variaveis.$corTxtSecond;
            color: variaveis.$corFundo;
        }
    }
}

section{
    min-height: 50vw;
}